In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('Data/2025wxBA.csv')

In [14]:
df['PlayResult'].unique()

array([nan, 'StrikeoutSwinging', 'Single', 'StrikeoutLooking', 'Out',
       'Double', 'Walk', 'Triple', 'Sacrifice', 'HomeRun', 'Error',
       'FieldersChoice'], dtype=object)

In [15]:
df = df[df['BatterTeam'] == 'Normal cornbelters']

In [ ]:
ab_results

,PitchNo,Date,Time,PAofInning,PitchofPA,Pitcher,PitcherId,PitcherThrows,PitcherTeam,Batter,...,In-zone whiff,In-zone/swing,LA<10,Ground Ball?,Fly Ball?,EV>90,EV>100,EV>105,Good Swing Decision,xBA
8,9,05/28/2025,6:35:13 PM,1,1,Alex Logan,NaN,Right,Burlington bees 2025,Ryan Colucci,...,0,0,0,0,0,0,0,0,-1,NaN
9,10,05/28/2025,6:35:26 PM,1,2,Alex Logan,NaN,Right,Burlington bees 2025,Ryan Colucci,...,0,0,0,0,0,0,0,0,-1,NaN
10,11,05/28/2025,6:35:41 PM,1,3,Alex Logan,NaN,Right,Burlington bees 2025,Ryan Colucci,...,0,1,0,0,1,0,0,0,-1,NaN
11,12,05/28/2025,6:36:17 PM,2,1,Alex Logan,NaN,Right,Burlington bees 2025,Tyler Thompson,...,0,0,0,0,0,0,0,0,-1,NaN
12,13,05/28/2025,6:36:38 PM,2,1,Alex Logan,NaN,Right,Burlington bees 2025,Tyler Thompson,...,0,0,0,0,0,0,0,0,-1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,316,05/28/2025,9:22:10 PM,3,3,Braeden Sunken,NaN,Right,Burlington bees 2025,Michael Kuska,...,0,0,0,0,0,0,0,0,-1,NaN
316,317,05/28/2025,9:22:34 PM,3,4,Braeden Sunken,NaN,Right,Burlington bees 2025,Michael Kuska,...,1,1,0,0,0,0,0,0,-1,NaN
317,318,05/28/2025,9:23:45 PM,4,1,Braeden Sunken,NaN,Right,Burlington bees 2025,Charlie Graham,...,0,0,0,0,0,0,0,0,-2,NaN
318,319,05/28/2025,9:24:07 PM,4,2,Braeden Sunken,NaN,Right,Burlington bees 2025,Charlie Graham,...,0,0,0,0,0,0,0,0,-1,NaN
319,320,05/28/2025,9:24:39 PM,4,3,Braeden Sunken,NaN,Right,Burlington bees 2025,Charlie Graham,...,0,0,0,0,1,0,0,0,-2,NaN

In [16]:
ab_results = [
    'Out', 'StrikeoutLooking', 'Single', 'StrikeoutSwinging',
    'Double', 'HomeRun', 'Error'
]

# Calculate at-bats for each individual player in the Batter column
ab_counts = df[df['PlayResult'].isin(ab_results)].groupby('Batter').size().reset_index(name='at_bats')
ab_counts

             Batter  at_bats
0       Caleb Royer        8
1    Charlie Graham       10
2      Cole Freeman       12
3        Jack Novak       14
4     Jackson Smith       16
5    Jackson Stanek        6
6     Kannan Kleine        2
7     Michael Kuska        9
8   Nolan Mccrossin       12
9      Ryan Colucci        8
10     Shea Zbrozek       10
11   Tyler Thompson       11
12   Zach Zychowski       15

In [19]:
# Calculate total xBA for each batter
xba_sum = df[df['PlayResult'].isin(ab_results)].groupby('Batter')['xBA'].sum().reset_index(name='total_xBA')

# Merge with ab_counts to get at_bats and total_xBA together
batter_stats = pd.merge(ab_counts, xba_sum, on='Batter', how='left')

# Calculate xBA per at-bat for each batter
batter_stats['xBA'] = batter_stats['total_xBA'] / batter_stats['at_bats']

# Keep only Batter and xBA_per_at_bat columns
batter_xba = batter_stats[['Batter', 'xBA']]
batter_xba

             Batter       xBA
0       Caleb Royer  0.301604
1    Charlie Graham  0.112641
2      Cole Freeman  0.375548
3        Jack Novak  0.342232
4     Jackson Smith  0.321738
5    Jackson Stanek  0.200237
6     Kannan Kleine  0.098924
7     Michael Kuska  0.160849
8   Nolan Mccrossin  0.277245
9      Ryan Colucci  0.003015
10     Shea Zbrozek  0.464868
11   Tyler Thompson  0.402290
12   Zach Zychowski  0.223839

In [21]:
batter_xba.to_csv('Data/xBA_Data.csv', index=False)